.favoritesContainer {
  padding: 20px;
  display: flex;
}

.favoritesList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favoriteItem {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
  width: 300px; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favoriteItem p {
  margin: 0;
  color: #666;
}

.removeButton {
  background: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  color: #333;
  font-size: small;
}

.openButton {
  background: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  color: #333;
  font-size: small;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
